[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glob"]
	path = thirdparty/glob
	url = git@github.com:p-ranav/glob.git
[submodule "thirdparty/my_cpp_utils"]
	path = thirdparty/my_cpp_utils
	url = git@github.com:marleeeeeey/my_cpp_utils.git
